.home {
	.banner {
	    height: auto;
	    overflow: hidden;
	    padding-bottom: 30px;
	}
	.mobilecloud {
		.text {
			margin-top:20px;
			width: 49%;
		}
		img {
			width: 50%;
		}
	}
	.rules {
		.text {
			
		}
		img {
			width: 100%;
		}
	}
	.corporate {
		.text {
			margin-left: 0;
			float: right;
			margin-top: 10px;

		}
		img {
			width: 45%;
		}
	
	}
}


