/* INCLUDE FONTS */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro);

/* END INCLUDE FONTS */

p, li, a, span {
    font-size:16px;
}
p, li, span, h1, h3, h4, h5, h6, a {
    font-family: Advent Pro, sans-serif;
   
}
h1 {
	font-family: Pacifico, serif;
}
h2 { 
    font-family: Advent Pro, serif;
    font-size: 120px;
}
h3 {
    
}
h4 {
    
}
h5 {
    
}
p {
	font-size: 18px;
}
a {
    text-decoration:none;
    color:#502A33;
    &:hover {
    	color: inherit;
        text-decoration: underline;
    }
}
strong {
    
}
