.navbar-default{
		background-color:white;
		margin-bottom: 0px;
}
nav{
	.navbar-brand{
		background-color: $pink;
		padding:0px !important;
		height: 40px;
		width: 40px;
		margin-left: 0px !important;
		margin-top: 5px;
		border-radius: 50px;
		div{
			text-align: center;
			@include vertical-align;
			color: white;
			font-size: 20px;
			font-family: Pacifico;
		}
	}
}
.navigator{
	position: fixed;
	right: 50px;
	list-style:none;
	.circle{
		display: block;
		height: 12px;
		width: 12px;
		margin-bottom: 15px;
		border-radius: 30px;
		background-color:#a3a3a3;
	}
	.active{
		background-color: transparent;
		border: 1px solid #a3a3a3;
	}
}
.frontpage{
	background-color:#D2DDCF;
	.title{
		padding-right: 5%;
		margin-top: 70px;
	}
	.row{
		margin-bottom: 40px;
	}
	.btn{
		background-color: #A7B7B1;
		color: white;
	}
}
